{% extends baseTemplate %}

{% block bodyPreApplication %}
	<div class="main">
		This is a very nice static header.
	</div>
{% endblock %}
{% block bodyPostApplication %}
	<p>
		This is a very nice static footer.
	</p>
{% endblock %}
