{
    "extends": "airbnb",

    "parser": "babel-eslint",

    "plugins": ["eslint-plugin-babel"],

    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "max-len": [2, 120, 4],
        "no-warning-comments": 1,
        "class-methods-use-this": 0,
        "arrow-parens": ["off", "as-needed"],

        "generator-star-spacing": 0,
        "babel/generator-star-spacing": [2, { "before": false, "after": true }],

        "import/order": [2, { "groups": ["builtin", "external", "internal", "parent", "sibling", "index"], "newlines-between": "always"}],
        "import/newline-after-import": [2],
        "import/no-extraneous-dependencies": [1],
        "import/no-unresolved": [1],

        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-filename-extension": 0
    }
}
