{%- extends inheritance.testB -%}

{%- block bodyPreApplication -%}
	{{ super() }}
	<div class="item">{{ custom.project.b }}</div>
{%- endblock -%}
{% block bodyPostApplication %}
	<footer>
		{{ super() }}
		<p>
			It's not part of the React application, but defined in the template
		</p>
	</footer>
{% endblock %}
